
<body>
  <a href="/welcome"><h3>Home</h3></a>
  
       <div class="heading">
        <h2>SELECT DEPERTMENT</h2>
    </div>
    <div>
        <table width="90%">
            <tr>
            <th>
                <ul>
                    <li><a href="/teampage/CSE">CSE</a></li>
                    <li><a href="/teampage/EEE">EEE</a></li>
                    <li><a href="/teampage/PHY">PHY</a></li>
                    <li><a href="/teampage/IPE">IPE</a></li>
                    <li><a href="/teampage/CHE">CHE</a></li>
                    <li><a href="/teampage/STAT">STAT</a></li>
                </ul>
            </th>
            <vr>
            <th>
                <ul>
                    <li><a href="/teampage/CEP">CEP</a></li>
                    <li><a href="/teampage/BMB">BMB</a></li>
                    <li><a href="/teampage/GEE">GEE</a></li>
                    <li><a href="/teampage/ANP">ANP</a></li>
                    <li><a href="/teampage/PSS">PSS</a></li>
                    <li><a href="/teampage/PAD">PAD</a></li>
                  </ul>
            </th>
            <th>
                <ul>
                    <li><a href="/teampage/SOW">SOW</a></li>  
                    <li><a href="/teampage/SOC">SOC</a></li>
                    <li><a href="/teampage/OCE">OCE</a></li>
                    <li><a href="/teampage/SWE">SWE</a></li>
                    <li><a href="/teampage/MAT">MAT</a></li>
                    <li><a href="/teampage/PME">PME</a></li>
                </ul>
            </th>
            <th>
                <ul>
                    <li><a href="/teampage/ENG">ENG</a></li>
                    <li><a href="/teampage/BBA">BBA</a></li>  
                    <li><a href="/teampage/ECO">ECO</a></li>
                    <li><a href="/teampage/BAN">BAN</a></li>
                    <li><a href="/teampage/GEB">GEB</a></li>
                    <li><a href="/teampage/FET">FET</a></li>
                </ul>
            </th>
            </tr>
        </table>
    </div>
</body>